.specialcell{
    display: flex;
    flex-direction: column;
    height: 60px;
    font-size: 15px;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
    position: relative;
    border-bottom: 1px var(--stroke) solid;
}
.specialcell > span{
    font-size: 12px;
    color: var(--contentsecondary);
}
.highlightcell{
    display: flex;
    height: 60px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px var(--stroke) solid;
    column-gap: 10px;
}
.highlightcell > label{
    font-size: 15px;
    font-weight: 600;
    display: block;
}
.highlightcell > span{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
}
.datecell{
    color: var(--contentsecondary);
}
.redirect{
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}